<ion-list>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
  <ion-item>
    <button ion-button (click)="showPlanets()">Planets</button>
    <button ion-button (click)="showPeople()">People</button>
    <button ion-button (click)="showPorts()">Ports</button>
  </ion-item>
  <ng-container *ngIf="listPeople">
  <H1> People </H1>
  <ion-item *ngFor="let person of people" (click)="goToDetail()">
    <p> {{person.name}} </p>
  </ion-item>
  </ng-container>
  <ng-container *ngIf="listPlanets">
  <H1> Planets </H1>
  <ion-item *ngFor="let planet of planets" (click)="goToDetail()">
    <p> {{planet.name}} </p>
    <p> Location: {{planet.location[0]}}, {{planet.location[1]}}, {{planet.location[2]}}</p>
  </ion-item>
</ng-container>
<ng-container *ngIf="listPorts">
  <H1> Ports </H1>
  <ion-item *ngFor="let port of searchCat" (click)="goToDetail()">
    <p> {{port.key}}</p>
    <p> Supplies: {{port.type}}</p>
    <p> Planet: {{port.planet}}</p>
  </ion-item>
</ng-container>
</ion-list>
